<!DOCTYPE html>
<html>
  <body>
    <h2>Add Sighting</h2>

    <form action="/form" method="post">
      <label for="year">Year:</label><br />
      <input type="text" id="year" name="year" value="" /><br />
      <label for="season">Season:</label><br />
      <input type="text" id="season" name="season" value="" /><br />
      <label for="month">Month:</label><br />
      <input type="text" id="month" name="month" value="" /><br />
      <label for="state">State:</label><br />
      <input type="text" id="state" name="state" value="" /><br />
      <label for="county">County:</label><br />
      <input type="text" id="county" name="county" value="" /><br />
      <label for="location_details">Location Details:</label><br />
      <input
        type="text"
        id="location_details"
        name="location_details"
        value=""
      /><br />
      <label for="nearest_town">Nearest Town:</label><br />
      <input
        type="text"
        id="nearest_town"
        name="nearest_town"
        value=""
      /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
