<ul>
  <% for( let index = 0; index < dataYearsNoDupes.length; index++ ) { %>
  <li>
    <a href="/year-sightings/<%= dataYearsNoDupes[index] %> "
      ><%= dataYearsNoDupes[index] %>
    </a>
  </li>
  <% } %>
</ul>
